<%- include('partials/header') %>

<h1 id="textLarge">Abhijeet Barua</h1>
<img class="center" src="/images/jeet.jpg" width="250" height="450" alt="jeet">

<h2 id="textLarge">About ME</h2>

<div id="aboutText">
    Hello, my name is Abhijeet Barua.

    I harbor a profound passion for web design and software development, 
    with a focus on crafting exceptional and user-centric software solutions. 
    My dedication lies in leveraging technology to create products that significantly 
    enhance the quality of life and experiences of the communities I serve. 
    My approach intertwines innovative design with advanced development techniques to 
    deliver software that is not only functional and reliable but also elevates user 
    interaction and satisfaction. I am continually driven to learn, evolve, and contribute 
    to the ever-changing digital landscape, aspiring to leave a positive and lasting impact through my work.
</div>

<div class="button-container">
    <div class="crystal-button">
        <a class="btn btn-xl btn-outline-dark" href="images/resume.pdf">
            <i class="fas fa-download me-2"></i>
            Download My Resume
        </a>
    </div>
</div>

<%- include('partials/footer') %>
