<%- include('partials/header') %>
    
<h1 id="textLarge">Welcome to Abhijeet's portfolio page</h1>
<br>
<br>     
<img class="center" src="/images/jeet.jpg" width="250" height="450" alt="jeet">
  
<!-- Mission statement -->
<h2 id="textLarge"> Mission</h2>
<div id="aboutText"> 
    My mission is to design and implement inclusive and innovative solutions, 
    meticulously optimized for superior efficiency and productivity, that address 
    the diverse needs of individuals, regardless of their abilities or disabilities. 
    I am committed to solving authentic real-world and organizational challenges by 
    integrating accessibility and universal design principles into every project I undertake. 
    My aspiration is to bridge the gap between groundbreaking ideas and their practical applications, 
    ensuring each solution is adaptable to the unique needs and preferences of a diverse population. 
    In doing so, I aim to create enduring value and impact, fostering a more inclusive and equitable 
    world for individuals and communities alike.
</div>

<!-- Link to About Me Page -->
<div class="button-container">
    <a class="btn btn-xl btn-outline-dark" href="/about">
        Learn More About Me
    </a>
</div>

<br>
<br>
  
<%- include('partials/footer') %>
