<%- include('partials/header') %>
  
<h1 id="textLarge"><%= title %></h1>

<div id="projects">
    <h3>Flight Tracking App</h3>
    <p>I developed and designed a comprehensive Flight Tracking App,
         allowing users to monitor real-time flight arrivals and departures 
         efficiently. My responsibilities included creating user-friendly interfaces, 
         integrating real-time data feeds, and ensuring accurate and timely information display.
          The app has been recognized for its reliability and user-centric design, providing users 
          with invaluable assistance in managing their travel plans. It has helped countless users 
          stay informed about flight statuses, thereby reducing travel-related stress. This project 
          refined my abilities in app development, user interface design, and real-time data integration.</p>
    
    <img src="/images/f.jpg" alt="flight">
    <br><br>
</div>

<div id="projects">
    <h3>English Byte App</h3>
    <p>I spearheaded the development and design of the 
        English Learning Byte App, creating a platform for users 
        to learn English through concise, effective lessons. My role 
        encompassed designing intuitive user interfaces and developing 
        engaging, educational content. Leveraging advanced technologies, 
        I ensured a responsive and user-friendly experience, optimizing the 
        app for various devices. The app was acclaimed for its innovative approach, 
        assisting numerous users in enhancing their English proficiency. This endeavor 
        honed my skills in app development, user experience design, and instructional 
        content creation.</p>
    
    <img class="center" src="/images/e.jpg" alt="english">
    <br><br>
</div>

<div id="projects">
    <h3>Bug smasher game</h3>
    <p>I served as the Developer and Designer for "Bug Smasher,"
         a dynamic and engaging HTML game where players interactively 
         smash bugs. My responsibilities included conceptualizing game mechanics, 
         designing immersive visuals, and implementing user-friendly interfaces. 
         I utilized HTML, CSS, and JavaScript to bring the game to life, ensuring 
         responsive and seamless gameplay across various devices. The game garnered 
         substantial plays and was praised for its entertaining content and challenging 
         user experience. This project enhanced my proficiency in game development 
         and user experience design.</p>

    
    <img class="center" src="/images/ladybug.gif" alt="Bug">
    <br><br>
</div>

<%- include('partials/footer') %>
