<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your Page Title</title> <!-- Replace with your actual page title -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
<div id="footerLogo">
  <a id="footerLogo" href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
  <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
  <br>
</div>
<footer>
  <!-- Scripts -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/javascripts/appclient.js"></script>

  <!-- copyright -->
  <p id="copyright">&copy;&nbsp; All right reserved -- Abhijeet Barua, College ID: 301329605.</p>
</footer>
</body>
</html>
